/* global variables */
:root{
	/* color palette (Classy Palette for #7061A8 from mycolor.space) */
	--base-violet: #7061A8;
	--gravel: #494454;
	--spun-pearl: #AEA9BA;
	--blossom: #AA5048;
	--coral: #E58478;
}

.bg-violet {
	background-color: var(--base-violet);
}

.bg-gravel {
	background-color: var(--gravel);
}

.bg-spun-pearl {
	background-color: var(--spun-pearl);
}

.bg-blossom {
	background-color: var(--blossom);
}

.bg-coral {
	background-color: var(--coral);
}


.techs b {
	font-size: 1.0rem;
	margin-right: 0.4rem;
}

@media only screen and (min-width: 601px){
    .techs b {
	    font-size: 1.2rem;
	    margin-right: 0.6rem;
    }
}
html, body {
    height: 100%;
  }
  
#tableOfContents {
    width: 20%;
}

.table-of-contents li ul {
	list-style-type: none;
}

.table-of-contents li ul li {
	margin-left: 1rem;
}

.block {
	height: 100%;
}

.cv-title {
	font-size: 1.4rem;
}
.h2 {
	font-size: 3.56rem !important;
    line-height: 110% !important;
    margin: 1.78rem 0 1.424rem 0;
}

.cv-skills-carousel {
	max-height:320px !important;
}
.cv-skills-carousel .carousel-item{
	min-height: 320px !important;
}

.cv-skills-carousel .container {
	height: 260px;
}

@media only screen and (min-width: 601px){
    .fullHeight {
	    min-height: 100vh;
    }
}
.pointer {cursor: pointer;}

.push-down {
    margin-top: 25vh;
}

.projectCardImage {
    height: 120px;
    width: 100%;
}


.App-header {
	background-color: #000;
	height: 160px;
	padding: 20px;
	color: white;
  }
  
  .App-intro {
	font-size: large;
  }
  
  .App-ticker {
	font-size: medium;
  }
  
  .Copyrights {
	  margin-top: -3em;
	  font-size: small;
  }

  .lang-selected {
    /* flag icons have height of 17 px */
    height: 20px;
}
.pdf-icon {
    width: 30px;
}
